<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login Panel</title>
	<link href="~/css/adminloginpanel.css" rel="stylesheet" />

</head>
<body>
    <div class="login-panel">
        <h2>Admin Login</h2>
        <form action="~/Home/AdminLogin" method="post">
            <input type="text" name="txtUsername" placeholder="Username" required>
            <br>            
            <input type="password" name="txtPassword" placeholder="Password" required>
            <br>

            <button type="submit">Login</button>
            <br>
            <h3 style="color:darkred">@ViewBag.Message</h3>
           
            
        </form>

      
    </div>

    


</body>
</html>







